{% extends 'admin.html.twig' %}

{% block title %}New Sheet{% endblock %}

{% block body %}
    <form class="mt-6">
        <div>
            <h2 class="font-bold text-2xl">New Sheet</h2>
        </div>
        <hr class="w-full my-4">
        <div class="py-4">
            <div>
                <input class="gymm-txt" name="name" id="name" placeholder="Sheet name" aria-label="name">
            </div>
        </div>
        <div class="py-4">
            <label class="font-bold">Sheet exercises</label>
            <div class="flex flex-row gap-4 mt-2">
                <div class="w-full">
                    <input class="gymm-txt" type="search" placeholder="New exercise" aria-label="exercises">
                    <div class="hidden" id="exercise-list">
                        <ul class="px-2 bg-gray-50 rounded-b-m shadow-lg border border-gray-100">
                            <li class="pl-2 my-1 py-1 rounded-sm hover:bg-gray-200 hover:cursor-pointer" data-id="0">Supino Reto</li>
                        </ul>
                    </div>
                </div>
                <span class="bg-[#fc612e] shadow-md hover:bg-[#FD7A45] hover:cursor-pointer block rounded-lg h-10 text-white py-2 px-4 font-bold text-center">+</span>
            </div>
            <div id="exercises-selected" class="hidden w-full">
                <ul class="px-2 mt-6 flex flex-col gap-2">
                    <li class="flex flex-row px-8 py-4 rounded-md bg-gray-100 justify-between">
                        <span class="text-[#fc612e]">Supino Reto</span>
                        <img class="gymm-btn-primary" src="{{ asset('images/icons/trash-can-regular.svg') }}">
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-4">
            <div>
                <textarea class="gymm-textarea" name="description" id=description" placeholder="Sheet Description" aria-label="description"></textarea>
            </div>
        </div>
        <div class="float-right w-full flex justify-end">
            <button class="gymm-btn-primary md:w-40">Save</button>
        </div>
    </form>
{% endblock %}
